
body {
  font-family: 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
}

.header {
  width: 100%;
  padding: 10% 0;
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;
  background-color: #373341;
}

.header a {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px dotted #999999;
  -webkit-transition: all .4s;
  transition-duration: all .4s;
}

.header a:hover {
  border-bottom: 1px solid #FFFFFF;
}
