.projects {
  background-color: #FFFEF9;
  height: 100%;
}

.projects h2 {
  font-size: 2.2rem;
  text-align: center;
  font-family: 'futura-lt-bold';
}

.project {
  max-width: 1600px;
  margin: 0 auto;
}

.project .illustration, .project .detail {
  text-align: center;
}

.project .illustration img {
  width: 80%;
  max-width: 756px;
  margin: 0 auto;
}

.project .detail {
  margin: 40px 0;
}

.project .detail h3 {
  font-family: 'futura-lt-bold';
  font-size: 2.2rem;
  margin: 0;
}

.project .detail p {
  font-size: 1.2rem;
}

.project .detail a {
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 25px;
  color: #FFFFFF;
  background-color: #393542;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.project .detail a:hover {
  background-color: #65616C;
}

@media (min-width:960px)  {

  .project .illustration, .project .detail {
    width: 48.5%;
    vertical-align: middle;
    display: inline-block;
  }

  .project .illustration.right {
    float: right;
  }

}
